azure.storage.blob
fuzzysearch
editdistance
opencv-python
numpy
imutils
scikit-image
scipy
tensorflow
keras
h5py
docker
pytest
regex
stdlib_list
Flask
git+git://github.com/WhiteboardLiveCoding/ImageSegmentation.git
hackerrank-sdk
